*
	margin: 0
	padding: 0
	box-sizing: border-box

$default-font-family: Helvetica, Arial, sans-serif
$default-bg-color: #EBF5EE
$davys-gray: #565656

	
.app
	height: 100vh
	max-height: 100vh
	width: 100vw
	font-family: $default-font-family

.icon-size
	height: 40px

.color-picker
	color: $davys-gray
	cursor: pointer

.canvas-container
	display: flex
	flex-direction: column
	height: 100vh
	flex-grow: 1
	.setting-bar
		height: 10%
		background-color: $default-bg-color
		padding: 5px
		box-shadow: 0 1px 5px gray

.room
	display: flex
	flex-direction: row
	.toolbar
		display: flex
		flex-direction: column
		align-items: center
		box-shadow: 1px 4px 5px #808080
		width: 10%
		height: 100vh
		min-width: 100px
		background-color: $default-bg-color
		z-index: 1
		.toolbar-btn
			color: $davys-gray
			height: 60px
			// width: 60px
			background: none
			border: none
			outline: none
			cursor: pointer

	.canvas
		// height: 100vh
		margin: 10px
		margin-left: 0
		flex-grow: 1
		display: flex
		justify-content: center
		align-items: center
		canvas
			border: 1px solid gray
		// border: 1px solid black
		// background-image: url('../assets/grid.jpg')
		// background-repeat: repeat